* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background: radial-gradient(#c0d5c0, #9198e5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    color: white;
    background-color: rgb(31, 31, 28);
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 50px;
    padding: 3px 0;
}

select, input, textarea {
    width: 100%;
    margin: 10px 10px 0 0;
    padding: 5px;
    font-size: 20px;
}

textarea {
    height: 150px;
}

#buttons {
    display: flex;
}

#buttons button {
    color: rgb(241, 245, 249);
    background: rgb(114, 132, 109);
    border: 0;
    width: 50%;
    font-size: 2rem;
    border-bottom: 5px solid rgb(83, 101, 164);
    cursor: pointer;
    padding: 1rem;
    margin: 0 1rem;
    position: relative;
}

#buttons button :active {
    top: 2px;
}

#label {
    padding: auto;
    text-align: center;
}